<div class="callout callout--primary">
  <div class="grid grid--1X2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore numquam
        laboriosam nisi quos consequatur expedita nesciunt ratione accusantium
        dolores magni. Expedita vitae omnis consequatur, eveniet quam rerum
        alias veritatis numquam!
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">GEt Started</a>
  </div>
</div>
